a {
  margin-right: 10px;
}

h1 {
  font-size: 1.7em;
  font-weight: bold;
  color: #489ccc;
}

h2 {
  font-size: 1.1em;
  font-weight: bold;
}

.no-classgroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #9bccd850;
}

.no-classgroup > p {
  padding: 20px 15px;
  margin: 0;
  color: black;
  text-decoration: none;
}

