@defer (when classgroups) {
  <h1>Profile of {{ user.displayName }}</h1>
  <div>
    <h2>Email:</h2>
    <p>
      {{ user.email }}
    </p>
  </div>
  <div>
    @if (user.role === UserRole.COACH) {
      <h2>Your classgroups:</h2>
      @for (classgroup of classgroups; track classgroup) {
        <app-classgroup-card [classGroup]="classgroup" [isPair]="$index % 2 === 0"></app-classgroup-card>
      }
    } @else {
      <h2>Your classgroup:</h2>

      @if (classgroups.length > 0) {
        @if (showDropdown) {
          <app-enroll-student-form [enrolledClassGroup]="classgroups[0]"></app-enroll-student-form>
        } @else {
          <div class="classgroup-card-root">
            <a routerLink="/classgroups/{{classgroups[0].id}}">{{ classgroups[0].name }}</a>

            <button class="btn btn-redirect" (click)="showDropdown = true">
              Change classgroup
            </button>
          </div>
        }
      } @else {
        @if (showDropdown) {
          <app-enroll-student-form></app-enroll-student-form>
        } @else {
          <div class="classgroup-card-root">
            <p>No class chosen</p>
            <button class="btn btn-redirect" (click)="showDropdown = true">
              Enroll in a class
            </button>
          </div>
        }
      }
    }
  </div>
} @placeholder {
  <app-loading-spinner></app-loading-spinner>
}
