@defer(when classgroups) {
  <h1>Profile of {{ user.displayName }}</h1>
  <div>
    <h2>Email:</h2>
    <p>
      {{ user.email }}
    </p>
  </div>
  <div>
    @if (user.role === UserRole.COACH) {
      <h2>Your classgroups:</h2>
      @for (classgroup of classgroups; track classgroup) {
        <app-classgroup-card [classGroup]="classgroup" [isPair]="$index % 2 === 0"></app-classgroup-card>
      }
    } @else {
      <h2>Your classgroup:</h2>

      @if (classgroups.length > 0){
        <app-classgroup-card [classGroup]="classgroups[0]" [isPair]="true"></app-classgroup-card>
      } @else {
        <div class="no-classgroup">
          <p>No class chosen</p>
        </div>
      }
    }
  </div>
} @placeholder {
  <app-loading-spinner></app-loading-spinner>
}
