<div id="header-container">
  <div class="title-container">
    <img id="logo" src="assets/images/switchfully-logo.jpg" alt="Switchfully Logo">
    <h1>{{title}}</h1>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid container-fluid-breakpoint">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="header-btn" routerLink="/" routerLinkActive="header-btn-active" [routerLinkActiveOptions]="{exact: true}">Home</a>
            </li>
            <ng-container *ngIf="authenticationService.getAuthenticatedUser() | async as authenticatedUser">
              @if (authenticatedUser.id) {
                @if (authenticatedUser.role === UserRole.COACH) {
                  <li class="nav-item">
                    <a routerLink="classgroups" class="header-btn" routerLinkActive="header-btn-active">Classgroups</a>
                  </li>
                }
                <li class="nav-item">
                  <a routerLink="courses" class="header-btn" routerLinkActive="header-btn-active">Courses</a>
                </li>
                <li class="nav-item">
                  <a routerLink="modules" class="header-btn" routerLinkActive="header-btn-active">Modules</a>
                </li>
                @if (authenticatedUser.role === UserRole.COACH) {
                  <li class="nav-item">
                    <a routerLink="codelabs" class="header-btn" routerLinkActive="header-btn-active">Codelabs</a>
                  </li>
                }
                <li class="nav-item">
                  <a routerLink="profile" class="header-btn" routerLinkActive="header-btn-active">Profile</a>
                </li><li class="nav-item">
                  <a class="header-btn" (click)="authenticationService.logoutUser()">Logout {{authenticatedUser.displayName}}</a>
                </li>
              }
              @else {
                <li class="nav-item">
                  <a class="header-btn" (click)="authenticationService.loginUser()">Login</a>
                </li>
                <li class="nav-item">
                  <a class="header-btn" [routerLink]="['register']" routerLinkActive="header-btn-active">Register</a>
                </li>
              }
            </ng-container>
        </ul>
      </div>
    </div>
  </nav>
</div>
