<div class="form-group">
  <form (ngSubmit)="addClassgroup()" [formGroup]="createClassgroupForm">
    <label class="form-label" for="name">Name</label>
    <input class="form-control" formControlName="name" id="name" type="text" />
    <label class="form-label" for="courseId">Course</label>
    <select formControlName="courseId" (change)="onCourseChange($event)">
      @for (course of courseOptions$ | async; track course.id) {
        <option [value]="course.id">{{course.name}}</option>
      }
    </select>
    @if (isFormInvalid) {
      <div class="form-errors">
        @for (controlName of formControlNames; track controlName) {
          <div>
            @if (hasError(controlName, 'required')) {
              - {{ controlName }} is required.
            } @else if (hasError(controlName, 'minlength')) {
              - {{ controlName }} must be at least {{ getError(controlName, 'minlength').requiredLength }} characters long.
            } @else if (hasError(controlName, 'maxlength')) {
              - {{ controlName }} cannot be more than  {{ getError(controlName, 'maxlength').requiredLength }}  characters long.
            }
          </div>
        }
      </div>
    }
    @if (createClassgroupError) {
      <div class="backend-error">
        {{ createClassgroupError }}
      </div>
    }
    <button class="btn btn-create"
            type="submit"
            [class.btn]="!isFormInvalid"
            [class.btn-disabled]="isFormInvalid"
            [disabled]="isFormInvalid"
    >
      Create classgroup
    </button>
  </form>
</div>
