@defer (when codelab) {
  <div>
    <div class="codelab-header">
      <h2>{{ codelab.name }}</h2>
      @if (authenticatedUser.role === UserRole.COACH) {
        <a routerLink="/codelabs/{{codelab.id}}/update-codelab" class="btn btn-redirect">Edit codelab</a>
      }
    </div>
    <div class="different-different-bg">
      <div class="description-container">
        <h3>Description:</h3>
        <p>{{ codelab.description }}</p>
      </div>
    </div>
    <app-add-codelab-comment [id]="codelab.id"></app-add-codelab-comment>
    <div class="comments-container">
      <p>Comments will go there</p>
    </div>
  </div>
} @placeholder {
  <app-loading-spinner></app-loading-spinner>
}
