@defer (when codelab) {
  <div>
    <div class="codelab-header">
      <h1>{{ codelab.name }}</h1>
      @if (authenticatedUser.role === UserRole.COACH) {
        <a routerLink="/codelabs/{{codelab.id}}/update-codelab" class="btn btn-redirect">Edit codelab</a>
      }
    </div>
    <div class="different-different-bg">
      <div class="description-container">
        <h2>Description:</h2>
        <p>{{ codelab.description }}</p>
      </div>
    </div>
    <app-add-codelab-comment #addCodeLabComment [codelabId]="codelab.id" (myEventEmitter)="addComment($event)" ></app-add-codelab-comment>
    <div class="comments-container" >

      @if (codelab.comments.length > 0){
        <ul class="list-group list-group-flush">
          <h2>Comments</h2>
        @for (comment of codelab.comments; track comment){
            <li class="list-group-item">
              <p class="fw-bold mb-0">{{comment.student.displayName}}</p>
              <p class="mb-0">{{comment.comment}}</p>
            </li>
        }
        </ul>
      } @else {
        <p>No comments for this codelab</p>
      }
    </div>
  </div>
} @placeholder {
  <app-loading-spinner></app-loading-spinner>
}
