<div class="form-group">
  <form (ngSubmit)="updateCodelab()" [formGroup]="updateCodelabForm">
    <h1>Update the course name</h1>
    <label class="form-label" for="name">
      Name
      <input class="form-control" formControlName="name" id="name" type="text"/>
    </label>
    <label class="form-label" for="description">
      Description
      <input class="form-control" formControlName="description" id="description" type="text"/>
    </label>
    <label class="form-label" for="moduleId">
      Module
      <select class="form-control" formControlName="moduleId" id="moduleId" type="text">
        @for (module of modules; track module) {
          <option value="{{module.id}}">{{module.name}}</option>
        }
      </select>
    </label>
    @if (isFormInvalid) {
      <div class="form-errors">
        @for (controlName of formControlNames; track controlName) {
          <div>
            @if (hasError(controlName, 'required')) {
              - {{ controlName }} is required.
            } @else if (hasError(controlName, 'minlength')) {
              - {{ controlName }} must be at least {{ getError(controlName, 'minlength').requiredLength }} characters long.
            } @else if (hasError(controlName, 'maxlength')) {
              - {{ controlName }} cannot be more than  {{ getError(controlName, 'maxlength').requiredLength }}  characters long.
            }
          </div>
        }
      </div>
    }
    @if (updateCodelabError) {
      <div class="backend-error">
        {{ updateCodelabError }}
      </div>
    }
    <button class="btn btn-create"
            type="submit"
            [class.btn]="!isFormInvalid"
            [class.btn-disabled]="isFormInvalid"
            [disabled]="isFormInvalid">
      UPDATE</button>
  </form>
</div>

<button [routerLink]=""></button>
