@defer (when codelab) {
  <div class="form-group">
    <h2>Update codelab</h2>
    <form (ngSubmit)="updateCodelab()" [formGroup]="updateCodelabForm">
      <label class="form-label" for="name">Name</label>
      <input class="form-control" formControlName="name" id="name" type="text"/>
      @if (
        updateCodelabForm.controls["name"].invalid &&
        updateCodelabForm.controls["name"].touched &&
        updateCodelabForm.controls["name"].errors
        ) {
        <div class="form-errors">
          @if (updateCodelabForm.controls["name"].getError('required')) {
            <div>Name is required</div>
          }
          @if (updateCodelabForm.controls["name"].getError('minlength')) {
            <div>Name must be at least {{ getError('name', 'minlength').requiredLength }} characters long</div>
          }
          @if (updateCodelabForm.controls["name"].getError('maxlength')) {
            <div>Name cannot be more than {{ getError('name', 'maxlength').requiredLength }} characters long</div>
          }
        </div>
      }
      <label class="form-label" for="description">Description</label>
      <input class="form-control" formControlName="description" id="description" type="text"/>
      <label class="form-label" for="moduleId">Module</label>
      <select formControlName="moduleId" id="moduleId" type="text">
        @for (module of modules; track module) {
          @if (module.id === this.codelab.module.id) {
            <option value="{{module.id}}" selected="selected">{{ module.name }}</option>
          } @else {
            <option value="{{module.id}}" selected="">{{ module.name }}</option>
          }
        }
      </select>
      @if (
        updateCodelabForm.controls["moduleId"].invalid &&
        updateCodelabForm.controls["moduleId"].touched &&
        updateCodelabForm.controls["moduleId"].errors
        ) {
        <div class="form-errors">
          @if (updateCodelabForm.controls["moduleId"].getError('required')) {
            <div>Module is required</div>
          }
          @if (updateCodelabForm.controls["moduleId"].getError('minlength')) {
            <div>Name must be at least {{ getError('name', 'minlength').requiredLength }} characters long</div>
          }
          @if (updateCodelabForm.controls["moduleId"].getError('maxlength')) {
            <div>Name cannot be more than {{ getError('name', 'maxlength').requiredLength }} characters long</div>
          }
        </div>
      }
      @if (updateCodelabError) {
        <div class="backend-error">
          {{ updateCodelabError }}
        </div>
      }
      <div class="btn-container">
        <button class="btn btn-create"
                type="submit"
                [class.btn]="!isFormInvalid"
                [class.btn-disabled]="isFormInvalid"
                [disabled]="isFormInvalid">
          Submit
        </button>
      </div>
    </form>
  </div>
} @placeholder {
  <app-loading-spinner></app-loading-spinner>
}
