<div id="header-container">
  <div class="title-container">
    <img id="logo" src="assets/images/switchfully-logo.jpg" alt="Switchfully Logo">
    <h1>{{title}}</h1>
  </div>
<!-- TODO Check for the burger menu -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <a class="header-btn active" aria-current="page" href="#">Home</a>
            <ng-container *ngIf="authenticationService.getUserFromLocalStorage() | async as authenticatedUser">
              @if (authenticatedUser.id) {
                <li class="nav-item">
                  <a routerLink="add-classgroup" class="header-btn nav-link">Add classgroup</a>
                </li>
                  <li class="nav-item">
                    <a routerLink="add-course" class="header-btn nav-link">Add course</a>
                  </li>
                <li class="nav-item">
                  <a routerLink="modules" class="header-btn nav-link">Modules</a>
                </li>
                  <li class="nav-item">
                    <a class="header-btn nav-link" href="" (click)="authenticationService.logoutUser()">Logout {{authenticatedUser.displayName}}</a>
                  </li>
              }
              @else {
                  <li class="nav-item">
                    <a class="header-btn nav-link" [routerLink]="['login']">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="header-btn nav-link" [routerLink]="['register']">Register</a>
                  </li>
              }
            </ng-container>
        </ul>
        </div>
      </div>
  </nav>
</div>
