<section>
  <div class="dialog-login">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h1>Log yourself in</h1>
      <label>
        Email
        <input type="text" class="form-control" formControlName="email" placeholder="Email">
      </label>
      @if (
        loginForm.controls["email"].invalid &&
        loginForm.controls["email"].touched &&
        loginForm.controls["email"].errors
        ) {
        <div class="form-errors">
          @if (loginForm.controls["email"].getError('required')) {
            <div>Email is required</div>
          }
          @if (loginForm.controls["email"].getError('email')) {
            <div>Email must be in x&#64;x.x format</div>
          }
        </div>
      }
      <label>
        Password
        <input type="password" class="form-control" formControlName="password" placeholder="Password">
      </label>
      @if (
        loginForm.controls["password"].invalid &&
        loginForm.controls["password"].touched &&
        loginForm.controls["password"].errors
        ) {
        <div class="form-errors">
          @if (loginForm.controls["password"].getError('required')) {
            <div>Password is required</div>
          }
          @if (loginForm.controls["password"].getError('minlength')) {
            <div>Password have a minimum length of 6</div>
          }
        </div>
      }
      @if (errorMessage) {
        <div class="backend-error">{{ errorMessage }}</div>
      }
      <button class="btn"
              type="submit"
              [class.btn]="loginForm.valid"
              [class.btn-disabled]="!loginForm.valid"
              [disabled]="!loginForm.valid"
      >
        Login
      </button>
    </form>
  </div>
</section>
