<section>
  <div class="dialog-login">
    <h2>Register a new student</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label>Email</label>
      <input type="text" class="form-control" formControlName="email" placeholder="Email">
      @if (
        loginForm.controls["email"].invalid &&
        loginForm.controls["email"].touched &&
        loginForm.controls["email"].errors
        ) {
        <div>
          @if (loginForm.controls["email"].getError('required')) {
            <div>Email is required</div>
          }
          @if (loginForm.controls["email"].getError('email')) {
            <div>Email must be in x&#64;x.x format</div>
          }
        </div>
      }
      <label>Password</label>
      <input type="password" class="form-control" formControlName="password" placeholder="Password">
      @if (
        loginForm.controls["password"].invalid &&
        loginForm.controls["password"].touched &&
        loginForm.controls["password"].errors
        ) {
        <div>
          @if (loginForm.controls["password"].getError('required')) {
            <div>Password is required</div>
          }
          @if (loginForm.controls["password"].getError('minlength')) {
            <div>Password have a minimum length of 6</div>
          }
        </div>
      }
      @if (errorMessage) {
        <div>{{ errorMessage }}</div>
      }
      <button type="submit" class="btn-submit" [disabled]="!loginForm.valid">Login</button>
    </form>
  </div>
</section>
