.classgroup-dropdown {
  width: 80%;
  justify-content: left;
}

.enroll-student {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #9bccd850;
}
