@defer (when classgroups) {
  <div class="enroll-student">
    <div class="classgroup-dropdown">
      <select id="classgroup-select" [(ngModel)]="selectedClassgroupId">
        @for (classgroup of classgroups; track classgroup) {
          <option [value]="classgroup.id" [selected]="classgroup.id === selectedClassgroupId">{{ classgroup.name }}</option>
        }
      </select>
    </div>
    <button class="btn btn-redirect"
            type="button"
            (click)="registerToClassGroup()">
      Submit
    </button>
  </div>
  @if (enrollFormError) {
    <div class="backend-error" [innerHTML]="enrollFormError | processError"></div>
  }
} @placeholder {
  <app-loading-spinner></app-loading-spinner>
}
