@defer (when classgroups) {
  <div class="enroll-student">
    <!-- <form (ngSubmit)="registerToClassGroup()" [formGroup]="enrollClassgroupForm"> -->
    <div class="classgroup-dropdown">
      <select id="classgroup-select" [(ngModel)]="enrolledClassGroup">
        @for (classgroup of classgroups; track classgroup) {
          <option [value]="classgroup" [selected]="classgroup.id === enrolledClassGroup.id">{{ classgroup.name }}</option>
        }
      </select>
    </div>

    <div class="btn-container">
      <button class="btn btn-create"
              type="button"
              (click)="registerToClassGroup()">
        Save
      </button>
    </div>
    <!--</form>-->
  </div>


  @if (enrollFormError) {
    <div class="backend-error" [innerHTML]="enrollFormError | processError"></div>
  }
} @placeholder {
  <app-loading-spinner></app-loading-spinner>
}
