@if (moduleWithCodelabs) {
  @for (moduleWithCodelabs of moduleWithCodelabs.modules; track moduleWithCodelabs) {
    <div class ="title-module" >
      <p style="{{getMargin(level)}}">{{moduleWithCodelabs.name}}</p>
    </div>
    @if (moduleWithCodelabs.codelabs.length !== 0) {
      <app-codelabs-card [codelabs]="moduleWithCodelabs.codelabs"></app-codelabs-card>
    }
    @if(moduleWithCodelabs.codelabs.length === 0 && moduleWithCodelabs.modules.length === 0) {
      <div class="empty-module"><p>No codelabs in this module</p></div>
    }
    <app-module-codelabs [level]="level+1" [moduleWithCodelabs]="moduleWithCodelabs"></app-module-codelabs>

  }

}
