.course-container {
  margin-bottom: 20px;
}

.course-root-module {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #489CCC;
  margin-top: 20px;
  color: white;
}

.title-module{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #489ccc50;
  font-weight: bold;
}

.empty-module {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #9bccd850;
}

.empty-module p {
  width: 100%;
  margin-left: 25%;
  text-align: start;
  font-style: italic;
}

.codelabs-title {
  color: #212934;
}

p {
  padding: 15px 15px;
  margin: 0;
}

.page-header {
  margin: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.module-overview {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 20px;
}
