@defer(when modules) {
  <h2>Add a new module!</h2>
  <div class="form-group">
    <form (ngSubmit)="addModule()" [formGroup]="createModuleForm">
      <label class="form-label" for="name">Module name</label>
      <input class="form-control" formControlName="name" id="name" type="text">
      <label class="form-label" for="parentModule">Parent module</label>
      <select id="parentModule" formControlName="parentModuleId">
      <option *ngFor="let module of modules" value="{{module.id}}">{{ module.name }}</option>
    </select>

      @if (isFormInvalid) {
        <div class="form-errors">
          @for (controlName of formControlNames; track controlName) {
            <div>
              @if (hasError(controlName, 'required')) {
                - {{ controlName }} is required.
              } @else if (hasError(controlName, 'minlength')) {
                - {{ controlName }} must be at least {{ getError(controlName, 'minlength').requiredLength }} characters long.
              } @else if (hasError(controlName, 'maxlength')) {
                - {{ controlName }} cannot be more than  {{ getError(controlName, 'maxlength').requiredLength }}  characters long.
              }
            </div>
          }
        </div>
      }
      @if (createModuleError) {
        <div class="backend-error" [innerHTML]="createModuleError | processError"></div>
      }
      <div class="btn-container">
        <button class="btn"
                type="submit"
                [class.btn]="!isFormInvalid"
                [class.btn-disabled]="isFormInvalid"
                [disabled]="isFormInvalid"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
} @placeholder {
  <app-loading-spinner></app-loading-spinner>
}
