@defer(when modules) {
  <h2>Add a new module!</h2>
  <div class="form-group">
    <form (ngSubmit)="addModule()" [formGroup]="createModuleForm">
      <label class="form-label" for="name">Module name</label>
      <input class="form-control" formControlName="name" id="name" type="text">
      @if (
        createModuleForm.controls["name"].invalid &&
        createModuleForm.controls["name"].touched &&
        createModuleForm.controls["name"].errors
        ) {
        <div class="form-errors">
          @if (createModuleForm.controls["name"].getError('required')) {
            <div>Name is required</div>
          }
          @if (createModuleForm.controls["name"].getError('minlength')) {
            <div>Name must be at least {{ getError('name', 'minlength').requiredLength }} characters long</div>
          }
          @if (createModuleForm.controls["name"].getError('maxlength')) {
            <div>Name cannot be more than {{ getError('name', 'maxlength').requiredLength }} characters long</div>
          }
        </div>
      }
      <label class="form-label" for="parentModule">Parent module</label>
      <select id="parentModule" formControlName="parentModuleId">
        <option *ngFor="let module of modules" value="{{module.id}}">{{ module.name }}</option>
      </select>
      @if (createModuleError) {
        <div class="backend-error" [innerHTML]="createModuleError | processError"></div>
      }
      <div class="btn-container">
        <button class="btn"
                type="submit"
                [class.btn]="!isFormInvalid"
                [class.btn-disabled]="isFormInvalid"
                [disabled]="isFormInvalid"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
} @placeholder {
  <app-loading-spinner></app-loading-spinner>
}
