.loader {
  background-color: #fff;
  padding: 15px;
  margin: auto;
  width: fit-content;
  height: fit-content;
  border-radius: 25%;
}

.loading-indicator {
  border: 8px solid #C9C9C9;
  border-top: 8px solid #2f6d91;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s ease-in-out infinite;
}

.loader-container {
  position: absolute;
  top: 75px;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #22222235;
}

@keyframes spin {
  0% { transform: rotate(20deg); }
  100% { transform: rotate(380deg); }
}

@media screen and (max-width: 991px) {
  .loader-container {
    top: 52px;
  }
}
