@defer(when courseName != '') {
  <div class="form-group">
    <h2>Update the course name</h2>
    <form (ngSubmit)="updateCourseName()" [formGroup]="updateCourseNameForm">
      <label class="form-label" for="name">Name</label>
      <input class="form-control" formControlName="name" id="name" type="text"/>
      @if (
        updateCourseNameForm.controls["name"].invalid &&
        updateCourseNameForm.controls["name"].touched &&
        updateCourseNameForm.controls["name"].errors
        ) {
        <div class="form-errors">
          @if (updateCourseNameForm.controls["name"].getError('required')) {
            <div>Name is required</div>
          }
          @if (updateCourseNameForm.controls["name"].getError('minlength')) {
            <div>Name must be at least {{ getError('name', 'minlength').requiredLength }} characters long</div>
          }
          @if (updateCourseNameForm.controls["name"].getError('maxlength')) {
            <div>Name cannot be more than {{ getError('name', 'maxlength').requiredLength }} characters long</div>
          }
        </div>
      }
      @if (updateCourseNameError) {
        <div class="backend-error">
          {{ updateCourseNameError }}
        </div>
      }
      <div class="btn-container">
        <button class="btn btn-create"
                type="submit"
                [class.btn]="!isFormInvalid"
                [class.btn-disabled]="isFormInvalid"
                [disabled]="isFormInvalid">
          Submit
        </button>
      </div>
    </form>
  </div>
} @placeholder {
  <app-loading-spinner></app-loading-spinner>
}
