.flex-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 100vh;
}

.flex-stretch{
  align-items: stretch;
  align-self: stretch;
  max-width: 85vw;
  margin: auto;
}
