.root-container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.real-root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
