<main>
  <section>
    <div class="form-group">
      <form (ngSubmit)="addComment()" [formGroup]="createCodelabCommentForm">
        <label class="form-label" for="comment">Add your comment</label>
        <input class="form-control" formControlName="comment" id="comment" type="text" placeholder="Write a comment"/>
        @if (
          createCodelabCommentForm.controls["comment"].invalid &&
          createCodelabCommentForm.controls["comment"].touched &&
          createCodelabCommentForm.controls["comment"].errors
          ) {
          <div class="form-errors">
            @if (createCodelabCommentForm.controls["comment"].getError('required')) {
              <div>Comment is required</div>
            }
            @if (createCodelabCommentForm.controls["comment"].getError('minlength')) {
              <div>Comment must be at least {{ getError('comment', 'minlength').requiredLength }} characters long</div>
            }
            @if (createCodelabCommentForm.controls["comment"].getError('maxlength')) {
              <div>Comment cannot be more than {{ getError('comment', 'maxlength').requiredLength }} characters long</div>
            }
          </div>
        }
        @if (createCodelabCommentError) {
          <div class="backend-error" [innerHTML]="createCodelabCommentError | processError"></div>
        }
        <div class="btn-container">
          <button class="btn"
                  type="submit"
                  [class.btn]="!isFormInvalid"
                  [class.btn-disabled]="isFormInvalid"
                  [disabled]="isFormInvalid"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </section>
</main>

