<div class="modules-gallery">
  <div class="page-header">
    <h1>View all modules</h1>
    <ng-container *ngIf="authenticationService.getAuthenticatedUserAsObservable() | async as authenticatedUser">
      @if (authenticatedUser.role === UserRole.COACH) {
        <button class="btn" routerLink="add-module">Create module</button>
      }
    </ng-container>
  </div>
<!-- TODO Change button to display on a line with a < and change it to ^  -->
  @for(module of moduleHierarchy; track module) {
    <div class="root-module">
      <app-module-card [level]="0" [moduleHierarchy]="module" [isPair]="($index+1) % 2 === 0">
      </app-module-card>
    </div>
  }
</div>
