<div class="module-card-root" [class.different-bg]="!isPair">
  <div>
    <p style="{{getMargin(level)}}">{{moduleHierarchy.name}}</p>
  </div>
  <button
    class="btn"
    [class.btn]="!selectedModule"
    [class.btn-disabled]="selectedModule"
    (click)="changeSelectedModuleId()"
  >
    {{ btnTextToDisplay() }}
  </button>
</div>
@if (selectedModule){
  <app-module-with-courses [selectedModule]="selectedModule"></app-module-with-courses>
}
@for(module of moduleHierarchy.modules; track module) {
  <app-module-card [level]="level+1" [moduleHierarchy]="module" [isPair]="isPair">
  </app-module-card>
}
