@defer(when modules) {
  <h2>Add a new course!</h2>
  <div class="form-group">
    <form (ngSubmit)="addCourse()" [formGroup]="createCourseForm">
      <label class="form-label" for="name">Name</label>
      <input class="form-control" formControlName="name" id="name" type="text"/>
      @if (
        createCourseForm.controls["name"].invalid &&
        createCourseForm.controls["name"].touched &&
        createCourseForm.controls["name"].errors
        ) {
        <div class="form-errors">
          @if (createCourseForm.controls["name"].getError('required')) {
            <div>Name is required</div>
          }
          @if (createCourseForm.controls["name"].getError('minlength')) {
            <div>Name must be at least {{ getError('name', 'minlength').requiredLength }} characters long</div>
          }
          @if (createCourseForm.controls["name"].getError('maxlength')) {
            <div>Name cannot be more than {{ getError('name', 'maxlength').requiredLength }} characters long</div>
          }
        </div>
      }
      <label class="form-label" for="description">Description</label>
      <input class="form-control" formControlName="description" id="description" type="text"/>
      <div class="modules-container">
        <div class="available-modules-container">
          <label class="form-label">Available modules</label>
          <div class="available-modules">
            @for (module of modules; track module) {
              <p (click)="addModuleToCreationList(module)">
                {{ module.name }}
              </p>
            }
          </div>
        </div>
        <div class="added-modules-container">
          <label class="form-label">Added Modules</label>
          <div class="added-modules">
            @for (moduleToAdd of modulesToAdd; track moduleToAdd) {
              <p (click)="removeModuleFromCreationList(moduleToAdd)">
                {{ moduleToAdd.name }}
              </p>
            }
          </div>
        </div>
      </div>
      @if (createCourseError) {
        <div class="backend-error" [innerHTML]="createCourseError | processError">
        </div>
      }
      <div class="btn-container">
        <button class="btn"
                type="submit"
                [class.btn]="!isFormInvalid"
                [class.btn-disabled]="isFormInvalid"
                [disabled]="isFormInvalid"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
} @placeholder {
  <app-loading-spinner></app-loading-spinner>
}
